@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
.container {
  background-image: url("../../assests/hero.jpg");
  background-color: rgba(128, 128, 128, 0.13);

  background-size: 70% 100%;
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
}
.main_heading {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: left;
}
.heading p {
  font-family: "Patua One", cursive;

  font-size: 2rem;
}
.heading h3 {
  margin-top: 1rem;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
}
@media screen and (max-width: 888px) {
  .container {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .main_heading {
    text-align: center;
  }
  .heading p {
    font-size: 1.7rem;
  }
  .heading h3 {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 786px) {
  .heading p {
    font-size: 1.3rem;
  }
  .heading h3 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 450px) {
  .heading p {
    font-size: 1rem;
  }
  .heading h3 {
    font-size: 1rem;
  }
}
